.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
}

.col-2 {
  grid-column: span 2;
}

.bg {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #7d54de;
  color: white;
  padding: 7px 7px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  z-index: 1001;
}

#back-to-top i {
  font-size: 2rem;
}
