.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
}

.col-2 {
  grid-column: span 2;
}

.bg {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
