.projetos-bg {
  background: linear-gradient(90deg, #511a51 0%, #000 100%);
  padding-top: 60px;
  padding-bottom: 60px;
}

.projetos {
  position: relative;
}

.projetos-titulo {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  margin-bottom: 40px;
}

.projetos-titulo > span {
  color: #7d54de;
}

.card-container {
  overflow: initial;
  cursor: grab;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 3rem;
}

.border {
  max-width: 900px;

  border: 2px solid #7d54de;
  background: #491157;
  border-radius: 5px;
  box-shadow: 17px 17px 16px -7px #00000063;
}
.projeto-imagem img {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.projeto-detalhes {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 25px 25px 25px;
}

.projeto-descricao {
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
}

.projeto-texto {
  flex: 1;
  color: #ffffff;
  font-size: 1.15rem;
  font-weight: 300;
  text-align: center;
}

.projeto-itens {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.projeto-tecnologias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.projeto-tecnologias li {
  color: #ffffff;
  font-weight: 600;
  padding: 5px 10px;
  background: #5e20bd;
  border-radius: 5px;
}

.projeto-links {
  display: flex;
  gap: 32px;
}

.projeto-links li a {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 1.1rem;
  padding: 5px 10px;
}

.projeto-links li img {
  width: 26px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-icon {
  font-size: 2rem;
  color: #ffffff;
}

.swiper-button-prev {
  left: 1rem;
}

.swiper-button-next {
  right: 1rem;
}

.swiper-pagination-bullet {
  background: #ebd3d3;
}

.swiper-pagination-horizontal > .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  position: relative;
  bottom: -2.5rem;
}

.swiper-pagination-bullet-active {
  background: #7d54de;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination-bullet {
  outline: none;
}

@media (max-width: 800px) {
  .projetos-titulo {
    font-size: 3rem;
  }
  .card {
    padding: 0 1rem;
  }
  .swiper-button-prev {
    left: -1rem;
  }

  .swiper-button-next {
    right: -1rem;
  }
}

@media (max-width: 410px) {
  .projeto-links {
    flex-direction: column;
    gap: 10px;
  }
}
