.projetos-bg {
  background: linear-gradient(90deg, #511a51 0%, #000 100%);
  padding-top: 60px;
  padding-bottom: 60px;
}

.projetos-titulo {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  margin-bottom: 40px;
}

.projetos-titulo > span {
  color: #7d54de;
}

.projetos-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* overflow-x: auto; */
}

.projeto {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 2px solid #7d54de;
  border-radius: 5px;
  box-shadow: 17px 17px 16px -7px #00000063;
}

.projeto-imagem {
  min-height: 310px;
  object-fit: cover;
}

.projeto-detalhes {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
}

.projeto-descricao {
  font-size: 1.5rem;
  color: #bb9eff;
  text-align: center;
}

.projeto-texto {
  flex: 1;
  color: #ffffff;
  font-size: 1.15rem;
  font-weight: 300;
  text-align: center;
}

.projeto-icones {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.projeto-tecnologias,
.projeto-links {
  display: flex;
  gap: 12px;
}

.projeto-tecnologias > li,
.projeto-links > li {
  width: 34px;
}

.projeto-links {
  justify-content: end;
}
