.projetos-bg {
  background: linear-gradient(90deg, #511a51 0%, #000 100%);
  padding-top: 60px;
  padding-bottom: 60px;
}

.projetos-titulo {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  margin-bottom: 40px;
}

.projetos-titulo > span {
  color: #7d54de;
}

.projeto {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 2px solid #7d54de;
  border-radius: 5px;
  box-shadow: 17px 17px 16px -7px #00000063;
}

.projeto-imagem {
  /* min-height: 310px; */
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  /* overflow: hidden; */
  object-fit: cover;
}

.projeto-detalhes {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 25px 25px 25px;
}

.projeto-descricao {
  font-size: 1.5rem;
  color: #bb9eff;
  text-align: center;
}

.projeto-texto {
  flex: 1;
  color: #ffffff;
  font-size: 1.15rem;
  font-weight: 300;
  text-align: center;
}

.projeto-icones {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.projeto-tecnologias,
.projeto-links {
  display: flex;
  gap: 12px;
}

.projeto-tecnologias > li,
.projeto-links > li {
  width: 34px;
}

.projeto-links {
  justify-content: end;
}

@media (max-width: 800px) {
  .projetos-titulo {
    font-size: 3rem;
  }
}

@media (max-width: 450px) {
  .projeto-icones {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .projeto-links {
    gap: 20px;
  }
}
