.swiper-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.swiper {
  margin: 0 auto;

  cursor: grab;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-next,
.swiper-button-prev {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 10px #ccc;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.swiper-button-next:hover {
  transform: scale(1.2) translateX(170%);
}
.swiper-button-prev:hover {
  transform: scale(1.2) translateX(-170%);
}
.swiper-button-next {
  transform: translateX(200%);
}
.swiper-button-prev {
  transform: translateX(-200%);
}
.swiper-pagination {
  transform: translateY(200%);
}
.swiper-pagination-bullet {
  background: #fff;
  width: 15px;
  height: 15px;
}

@media (max-width: 1300px) {
  .swiper {
    margin-inline: 2rem;
  }
  .swiper-button-next,
  .swiper-button-prev {
    /* display: none; */
  }
}
